/* body {
    background-image: url(/assets/pic/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    margin: 80px;
    font-size:30px;
    color: white;
}
h1{
    color: #daa520;
    font-size: 70px;
}

#startBtn , #newBtn , #reset{
    background-color: #daa520;
    cursor: pointer;
    color: green;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    font-weight: bold;
}
.container p {
    margin: 30px;
}
#messageEl{
font-style: italic;
font-weight: 500;
} */

body{
    background-image: url(/assets/pic/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
h1 {
    color: #daa520;
}
.btn-start-game {
    cursor: pointer;
    width: 150px;
    font-weight: bold;
}
#message-el {
    font-style: italic;
    font-weight: 500;
}
  